*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #e8dede; 
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;

}

#left-top-left
{
    /* background-color: red; */
    padding: 40px;
}
#square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
    background-color: black;
}

#left-top-right{
    /* background-color: coral; */
    justify-self: right;
    padding: 40px;
    text-align: right;

}
#left-top-right h4{
 /* background-color: red; */
 margin-bottom: 50px;
 font-size: 20px;
 font-weight: 500;
}
#left-top-right h5{
 /* background-color: red; */
 font-size: 18px;
 font-weight: 500;
 color: #333;
}
#left-top-right h6{
     display: none;
}


#left-center{
    /* background-color: blue; */
    grid-column: 1/3;
    padding: 40px;
}
#left-center h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 6.5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#left-center h1:nth-child(2n){
    /* background-color: red; */
    text-align: center;
    
}


#left-bottom{
    /* background-color: yellow; */
    grid-column: 1/3;
    padding: 40px;
}
#left-bottom p{
    width: 70%;
    font-size: 15px;
    font-weight: 500;

}


#right{
    /* background-color: rgb(31, 111, 31); */
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 150px;

}
#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52% ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    padding: 20px;
    color: #fff;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}
#arrow i{
    font-size: 30px;
    font-weight: 100;
}

@media (max-width: 600px) {
  #main {
    display: grid;
    grid-template-columns: 1fr; /* Single column for small screens */
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }

  #left-top-left {
    padding: 10px;
  }

  #square {
    height: 15px;
    width: 15px;
    rotate: 45deg;
  }

  #left-top-right {
    text-align: right;
    padding: 10px;
  }

  #left-top-right h4,
  #left-top-right h5 {
    display: none;
  }

  #left-top-right h6 {
    display: block;
    font-size: 18px;
  }

  #left-center {
    padding: 5px;

  }

  #left-center h1 {
    font-size: 10vw;
    line-height: 10vw;
    /* text-align: center; */
  }

  #left-bottom {
    padding: 0 10px;
  }

  #left-bottom p {
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    color: #666;
    text-align: center;
  }

  #right {
    grid-column: 1/4;
    grid-row: 4;
    padding: 15px;
    padding-right: 20px;
    
  }

  #right video {
    height: 54vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  #arrow {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    padding: 8px;
  }

  #arrow i {
    font-size: 18px;
    font-weight: 100;
  }
}
